body{
  background: oldlace;
  font-size: 125%;
}

h1{
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
  padding-bottom: 10px;
  border-style: solid;
  border-width: 0px 0px 7px 0px;
}
p{
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
  padding: 10px;
  border-style: solid;
  border-width: 0px 0px 0px thick;
  border-color: olivedrab;
  font-style: italic;
  font-size: 23px;
}
